$ORIGIN ${domain_name}.
$TTL ${default_ttl}

@   IN  SOA  ns1.${domain_name}. admin.${domain_name}. (
                ${serial}       ; serial
                ${refresh}      ; refresh
                ${retry}        ; retry
                ${expire}       ; expire
                ${minimum_ttl}  ; minimum
        )

@       IN  NS   ns1.${domain_name}.
@       IN  NS   ns2.${domain_name}.

ns1     IN  A    10.1.1.52
ns2     IN  A    10.1.1.53

; Service Records
%{ for s in services ~}
${format("%-20s", s.name)} IN  ${format("%-5s", s.type)}  ${s.value}
%{ endfor ~}
